textarea {
    min-height: 400px;
}

.email {
    border-style: solid;
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.subject {
    font-weight: bold;
}

.preview {
    font-weight: light;
    color: gray;
    font-size: 12px;
}

.timestamp {
    font-weight: light;
    font-size: 12px;
}

.read {
    background-color: #FFB6C1;
}

.not_read {
    background-attachment: white;
}

#reply {
    margin:5px;
}

xmp{ 
    white-space:pre-wrap; 
    word-wrap:break-word; 
}